.header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.header-logo-img{
    height: 45px;
    margin-right: -15px;
    margin-top: 5px;
}
.header-logo{
    height: 30px ;
    font-family: monospace;
    color: #44475b;
    max-width: 140px;
}
.header-right{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.header-links{
    margin: 0 13px;
}
.header-link{
    text-decoration: none;
    color: #44475b;
    margin: 0 13px;
    font-size: 1.1rem;
}

.header-search-container{
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--border-white);
    background-color: var(--primary-bg);
    width: 50%;
}

.header-searchbar{
    display: flex;
    flex: 2;
}

.search-icon{
    color: var(--zomato-gray);
    font-size: 20px;
    margin: 0px 12px;
}

.search-input{
    border: none;
    outline: none;
    width: 60%;
    font-size: 14px;
}

.header-icon{
    margin: 15px;
    cursor: pointer;
}

.profile-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    align-items: center;
}

.header-profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 6px;
    object-fit: cover;
}
.profile-options-icon{
    width: 9px;
    height: 9px;
}

.search-results{
    position: absolute;
    width: 350px;
    max-height: 400px;
    padding: 0.5rem;
    color: #333;
    background-color: var(--primary-bg);
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    list-style: none;
    z-index: 10000000;
}
.search-result-wrapper{
    margin-bottom: 2px;
    padding: 3px;
    border-bottom: 0.5px dashed #ccc;
}
.search-result{
    text-decoration: none;
    color: inherit;
}
