.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-profile-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 1px solid #c7cfaa;
    background-color: #cfd578;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 75vh;
}
.user-profile{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content:space-between;
    align-items:center;
}
.profile-details-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}

.profile-details-wrapper h2{
    font-size: 3rem;
    font-weight: 700;
    color: #1d1818;
}

.profile-details-wrapper p{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 15px;
    color: #2d2424;
}

.user-image-wrapper{
    height: 225px;
    width: 225px;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.493);
    background-color: #ccc;
    display: flex;
    justify-content: center;
}
.user-image{
    height: 220px;
    width: 220px;
    border: 3px solid wheat;
    border-radius: 50%;
}

.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightSide button{
    margin-top: 2rem;
}